@model SistemaAlquilerDeComputadoras.Models.Equipo

@{
    ViewData["Title"] = "Edit";
}

<h1>Modificar</h1>

<h4>Equipo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Codigo" />
            <div class="form-group">
                <label asp-for="Almacenamiento" class="control-label"></label>
                <input asp-for="Almacenamiento" class="form-control" />
                <span asp-validation-for="Almacenamiento" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Foto" class="control-label"></label>
                <input asp-for="Foto" class="form-control" />
                <span asp-validation-for="Foto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pantalla" class="control-label"></label>
                <input asp-for="Pantalla" class="form-control" />
                <span asp-validation-for="Pantalla" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Procesador" class="control-label"></label>
                <input asp-for="Procesador" class="form-control" />
                <span asp-validation-for="Procesador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ram" class="control-label"></label>
                <input asp-for="Ram" class="form-control" />
                <span asp-validation-for="Ram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resolucion" class="control-label"></label>
                <input asp-for="Resolucion" class="form-control" />
                <span asp-validation-for="Resolucion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-danger" asp-action="Index">Salir</a>
</div>

