@model SistemaAlquilerDeComputadoras.Models.Equipo

@{
    ViewData["Title"] = "Editar";
}

<h1 class="display-4">Editar Equipo</h1>

<style>
    body {
        background-color: #2c2c2c;
        color: white;
    }
</style>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
            <input type="hidden" asp-for="Codigo" />
            <div class="form-group">
                <label asp-for="Almacenamiento" class="control-label">Almacenamiento</label>
                <input asp-for="Almacenamiento" class="form-control" />
                <span asp-validation-for="Almacenamiento" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <input class="form-check-input" asp-for="Estado" />
                <label asp-for="Estado" class="form-check-label">@Html.DisplayNameFor(model => model.Estado)</label>
            </div>
            <div class="form-group">
                <label asp-for="FotoFile" class="control-label">Foto</label>
                <input asp-for="FotoFile" class="form-control" />
                <span asp-validation-for="FotoFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pantalla" class="control-label">Pantalla</label>
                <input asp-for="Pantalla" class="form-control" />
                <span asp-validation-for="Pantalla" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Procesador" class="control-label">Procesador</label>
                <input asp-for="Procesador" class="form-control" />
                <span asp-validation-for="Procesador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ram" class="control-label">RAM</label>
                <input asp-for="Ram" class="form-control" />
                <span asp-validation-for="Ram" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resolucion" class="control-label">Resolución</label>
                <input asp-for="Resolucion" class="form-control" />
                <span asp-validation-for="Resolucion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
